/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Tips_Heading;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Tips_Heading
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Tips_Heading-Column-Column1
{
	
}

.TableStyle-Tips_Heading-Head-Header1
{
	
}

.TableStyle-Tips_Heading-HeadI-Column1-Header1
{
	
}

.TableStyle-Tips_Heading-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Tips_Heading-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Tips_Heading-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Tips_Heading-HeadF-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Tips_Heading-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Tips_Heading-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tips_Heading-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Tips_Heading-HeadD-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Tips_Heading-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Tips_Heading-HeadC-Column1-Header1
{
	
}

.TableStyle-Tips_Heading-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Tips_Heading-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tips_Heading-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Tips_Heading-HeadA-Column1-Header1
{
	
}

.TableStyle-Tips_Heading-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Tips_Heading-HeadG-Column1-Header1
{
	
}

.TableStyle-Tips_Heading-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Tips_Heading-Foot-Footer1
{
	
}

.TableStyle-Tips_Heading-FootI-Column1-Footer1
{
	
}

.TableStyle-Tips_Heading-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Tips_Heading-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-Tips_Heading-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Tips_Heading-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-Tips_Heading-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Tips_Heading-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tips_Heading-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Tips_Heading-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-Tips_Heading-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Tips_Heading-FootC-Column1-Footer1
{
	
}

.TableStyle-Tips_Heading-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Tips_Heading-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tips_Heading-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Tips_Heading-FootA-Column1-Footer1
{
	
}

.TableStyle-Tips_Heading-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Tips_Heading-FootG-Column1-Footer1
{
	
}

.TableStyle-Tips_Heading-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Tips_Heading-Body-Body1
{
	
}

.TableStyle-Tips_Heading-BodyI-Column1-Body1
{
	
}

.TableStyle-Tips_Heading-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Tips_Heading-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tips_Heading-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Tips_Heading-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Tips_Heading-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Tips_Heading-BodyH-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tips_Heading-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Tips_Heading-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Tips_Heading-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Tips_Heading-BodyC-Column1-Body1
{
	
}

.TableStyle-Tips_Heading-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Tips_Heading-BodyB-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tips_Heading-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Tips_Heading-BodyA-Column1-Body1
{
	
}

.TableStyle-Tips_Heading-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Tips_Heading-BodyG-Column1-Body1
{
	
}

.TableStyle-Tips_Heading-BodyG-Column1-Body1 p
{
	
}


